.playing-screen {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.video-container {
    flex-grow: 4;
}

.video-player {
    width: 50%;
    height: 50%;
    position: absolute;
    left: calc(10vw + 50px); 
    top: calc(10vh + 50px);
}